.btn-next_end {
  background-image: url(../../../image/btn-next_end.svg);
  transform: rotate(0);
  width: 80px;
  height: 40px;
}

@media screen and (min-width: 2000px) {
  .btn-next_end {
    width: 160px;
    height: 80px;
  }
}
