.show-off-form__name-tel {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 30px 24px;
}

.show-off-form__name-tel>input {
  width: 395px;
  height: 40px;
  display: block;
  padding: 0 0 0 20px;
  margin: 0;
  flex: 1;
  flex-shrink: 0;
  border-radius: 25px;
  border: 2px solid #AEAEAE;
  color: #AEAEAE;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  box-sizing: border-box;
}

.show-off-form__name-tel>textarea {
  width: 100%;
  border-radius: 25px;
  border: 2px solid #AEAEAE;
  background: #FFF;
  color: #AEAEAE;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding: 19px 0 0 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 500px){
  .show-off-form__name-tel {
    flex-direction: column;
    width:100%;
    margin: 0 auto;
  }

  .show-off-form__name-tel>input{
    width: 100%;
    padding: 11px 20px;
  }

  .show-off-form__name-tel>textarea {
    width: 100%;
    height: 280px;
  }
}

@media screen and (min-width: 2000px) {
  .show-off-form__name-tel {
    gap: 60px 48px;
  }

  .show-off-form__name-tel>input {
    width: 790px;
    height: 80px;
    padding: 0 0 0 40px;
    border-radius: 50px;
    border: 4px solid #AEAEAE;
    font-size: 28px;
  }

  .show-off-form__name-tel>textarea {
    border-radius: 50px;
    border: 4px solid #AEAEAE;
    font-size: 28px;
    padding: 38px 0 0 40px;
  }
}
