.page{
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.preload * {
  -webkit-transition: all 0s linear;
  -moz-transition: all 0s linear;
  -ms-transition: all 0s linear;
  -o-transition: all 0s linear;
}
