.footer__logo {
  width: 105px;
  height: 61px;
  object-fit: contain;
  object-position: center;
  margin: 29px 0 0 49px;
}

@media screen and (max-width: 800px) {
  .footer__logo {
    position: absolute;
    top: 15px;
    left: 21px;
    margin: 0;
  }
}
