.btn-reserve {
  background: #f15a29;
  border-radius: 25px;
  width: 185px;
  height: 40px;
  border: none;
  color: #ffffff;
  text-align: left;
  font: 500 12px "Unbounded", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.btn-reserve:hover {
  background: #0062BD;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .btn-reserve {
    width: 166.5px;
    height: 32px;
    font-size: 10px;
  }
}

@media screen and (min-width: 2000px) {
  .btn-reserve {
    border-radius: 50px;
    width: calc(185px * 2);
    height: calc(40px * 2);
    font: 500 24px "Unbounded", sans-serif;
  }
}
