.reviews {
  margin: 160px 0 0 0;
  min-width: 0;
  position: relative;

}

@media screen and (max-width: 767px){
  .reviews {
    margin: 56px 0 0 0;
  }
}

@media screen and (min-width: 2000px) {
  .reviews {
    margin: 320px 0 0 0;
  }
}
