.header__nav-link{
  text-decoration: none;
  margin: 0;
  color: #0e4d8e;
  font: 600 14px "Montserrat", sans-serif;
}

.header__nav-link:hover{
  color: #F15A29;
  cursor: pointer;
}

@media screen and (max-width: 1279px) {
  .header__nav-link {
    font-size: 1vw;
  }
}
