.contacts__text-info {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
}

@media screen and (min-width: 2000px) {
  .contacts__text-info {
    font-size: 40px;
  }
}
