.bestiary-card__header {
  color: #0062BD;
  font-size: 18px;
  font-family: 'Unbounded';
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .bestiary-card__header {
    font-size: 16px;
  }
}

@media screen and (min-width: 2000px) {
  .bestiary-card__header {
    font-size: 36px;
  }
}
