.stok__btn-left {
  background-image: url(../../../image/stok__btn-left.png);
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  padding: 0;
  position: absolute;
  top: 50%;
  left: calc(-40px - 26px);
}

@media screen and (max-width: 767px) {
  .stok__btn-left {
    top: calc(100% + 20px);
    left: 22px;
  }
}

@media screen and (min-width: 2000px) {
  .stok__btn-left {
    width: 80px;
    height: 80px;
    left: calc(-80px - 52px);

  }
}

