.subscription__price-block {
  display: flex;
  width: 445px;
  justify-content: space-between;
  margin: 0 auto;
}


@media screen and (max-width: 767px){
  .subscription__price-block {
    width: 100%;
  }
}
