.rules__info-text {
  color: #000;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  max-width: 499px;
  margin: 0 0 0 0;
}

.rules__info-text:last-child {
  margin: 20px 0 0 0;
}

@media screen and (max-width: 767px) {
  .rules__info-text {
    font-size: 14px;
    max-width: 343px;
  }
}

@media screen and (min-width: 2000px) {
  .rules__info-text {
    font-size: 32px;
    max-width: 998px;

  }
}
