.stok__text {
  color: #ffffff;
  text-align: left;
  font: 600 32px "Montserrat", sans-serif;
  margin: 0 0 10px 53px;
}

.stok__text:nth-child(3) {
  font: 600 24px "Montserrat", sans-serif;
}

@media screen and (max-width: 1023px) {
  .stok__text {
    font: 600 20px "Montserrat", sans-serif;
    margin: 0 0 10px 22.5px;
  }

  .stok__text:nth-child(3) {
    font: 600 16px "Montserrat", sans-serif;
  }

}

@media screen and (min-width: 2000px) {
  .stok__text {
    font: 600 64px "Montserrat", sans-serif;
    margin: 0 0 20px 106px;
  }

  .stok__text:nth-child(3) {
    font: 600 48px "Montserrat", sans-serif;
  }
}
