.footer__info-tel {
  color: #ffffff;
  text-align: left;
  font: 600 28px "Montserrat", sans-serif;
  margin: 0;
}


@media screen and (max-width: 800px) {
  .footer__info-tel {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  .footer__info-tel {
    font: 600 56px "Montserrat", sans-serif;
  }
}
