.subscription__cards {
  margin: 120px auto 0;
  width: calc(100% - 128px - 128px);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 26px;
}

@media screen and (max-width: 767px) {
  .subscription__cards {
    margin: 40px auto 0;
    width: 100%;
    gap: 40px;
  }
}

@media screen and (min-width: 2000px) {
  .subscription__cards {
    margin: 240px auto 0;
    gap: 26px;
    width: calc(100% - 256px - 256px);
    flex-wrap: nowrap;
  }
}
