.footer__info {
  position: absolute;
  top: 47px;
  right: 38px;
}

@media screen and (max-width: 800px) {
  .footer__info {
    position: absolute;
    top: 285px;
    left: 21px;
  }
}

@media screen and (min-width: 2000px) {
  .footer__info {
    top: 94px;
    right: 76px;
  }
}
