.header__nav {
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin: 0;
  background-color: white;
}

@media screen and (max-width: 1279px) {

  .header__nav {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {

  .header__nav {
    display: none;
  }
}

@media screen and (min-width: 1441px) {
  .header__nav {
    width: 60%;
  }
}
