.header__logo {
  background-image: url(../../../image/logo__header.svg);
  width: 105px;
  height: 51px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 16px 0 21px 0;
}
