.header__logo {
  background-image: url(../../../image/logo__header.svg);
  width: 105px;
  height: 61px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .header__logo {
    width: 61px;
    height: 35px;
  }
}

@media screen and (min-width: 2000px) {
  .header__logo {
    width: 210px;
    height: 122px;
  }
}
