.stok__card {
  margin: 120px auto 0;
  width: calc(100% - 258px);
  border-radius: 50px;
  background: linear-gradient(180deg, #F15A29 0%, #FF6B00 100%);
  display: flex;
  justify-content: space-between;
  position: relative;
}

@media screen and (max-width: 767px) {
  .stok__card {
    margin: 40px auto 0;
    width: calc(100% - 32px);
    border-radius: 25px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .stok__card {
    margin: 240px auto 0;
    width: calc(100% - 516px);
    border-radius: 100px;
  }
}
