.show-off-form {
  margin: 120px auto 0;
  width: calc(100% - 152px);
  display: flex;
  gap: 24px;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .show-off-form {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% - 32px);
  }
}

@media screen and (min-width: 2000px) {
  .show-off-form {
    margin: 240px auto 0;
    gap: 48px;
    width: calc(100% - 304px);
  }
}
