.animation-fish__background {
  width: 185px;
  height: 340px;
  background-color: #4598E4;
  border-radius: 90px;
  position: absolute;
  right: 0;

}

@media screen and (max-width: 767px) {
  .animation-fish__background {
    width: 104px;
    height: 193px;
    border-radius: 50px;
  }
}

@media screen and (min-width: 2000px) {
  .animation-fish__background {
    width: 370px;
    height: 680px;
    border-radius: 180px;
  }
}
