.reviews-slider__button-prev {
  background-image: url(../../../image/reviews-btn-slider-left.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 0;
  right: 169px;
  z-index: 12;

}

@media screen and (max-width: 767px) {
  .reviews-slider__button-prev {
    left: 0;
  }
}

@media screen and (min-width: 2000px) {
  .reviews-slider__button-prev {
    width: 80px;
    height: 80px;
    right: 338px;
  }
}
