.reviews-slider__bullet_active {
  background-image: url(../../../../image/bullet-active.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}
