.contacts__info {
  margin: 120px auto 0;
  display: flex;
  max-width: 744px;
  gap: 60px;
}

@media screen and (max-width: 767px) {
  .contacts__info {
    margin: 40px auto 0;
    flex-direction: column;
    width: calc(100% - 74px);
    gap: 30px;
  }
}

@media screen and (min-width: 2000px) {
  .contacts__info {
    margin: 240px auto 0;
    max-width: 1488px;
    gap: 120px;
  }
}
