.reviews-slider__button-next {
  background-image: url(../../../image/reviews-btn-slider-right.png);
  width: 80px;
  height: 40px;
  position: absolute;
  bottom: 0;
  right: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 12;
}

@media screen and (max-width: 767px) {
  .reviews-slider__button-next {
    right: 16px;
  }
}

@media screen and (max-width: 425px) {
  .reviews-slider__button-next {
  }
}
