.subscription {
  margin: 179px 0 0;
  width: 100%;
  position: relative;
}

@media screen and (max-width: 767px) {
  .subscription {
    margin: 60px 0 0;
  }
}

@media screen and (min-width: 2000px) {
  .subscription {
    margin: 358px 0 0;
  }
}
