@keyframes fish_trembling {
  0% {
    transform: translate(0);
  }

  20% {
    transform: translate(-20%);
  }

  40% {
    transform: translate(-10%);
  }

  60% {
    transform: translate(-17%);
  }

  80% {
    transform: translate(-13%);
  }

  100% {
    transform: translate(-16%);
  }
}

.fish-trembling {
  animation-name: fish_trembling;
  animation-duration: 3.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
