.price__card-price {
  color: #FFF;
  font-family: "Unbounded";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 17px;
  left: 20px;
}

@media screen and (max-width: 767px) {
  .price__card-price {
    bottom: 17px;
    left: 15px;
    font-size: 18px;
  }
}

@media screen and (min-width: 2000px) {
  .price__card-price {
    font-size: 48px;
    bottom: 34px;
    left: 40px;
  }
}
