.section-header__float {
  width: 81px;
  height: 69px;
}

@media screen and (max-width: 767px) {
  .section-header__float  {
    width: 46px;
    height: 40px;
  }
}

@media screen and (min-width: 2000px) {
  .section-header__float {
    width: 162px;
    height: 138px;
  }
}
