.price__card-list {
  color: #FFF;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 45px 0 0 0;

}

@media screen and (max-width: 767px) {
  .price__card-list {
    font-size: 10px;
    margin: 20px 0 0 0;
  }
}

