.stok__icon {
  width: 140px;
  height: 140px;
  object-fit: contain;
  margin: 48px 58px 48px 0;
}

@media screen and (max-width: 767px){
  .stok__icon {
    display: none;
  }
}

@media screen and (min-width: 2000px) {
  .stok__icon {
    width: 280px;
    height: 280px;
    margin: 96px 116px 96px 0;
  }
}
