.bestiary-card {
  width: 290px;
  box-sizing: border-box;
  display: block;
}

@media screen and (max-width: 767px) {
  .bestiary-card {
    width: 163px;
  }
}

@media screen and (min-width: 2000px) {
  .bestiary-card {
    width: 580px;
  }
}
