.stok__btn-right {
  background-image: url(../../../image/stok__btn-right.svg);
  min-width: 40px;
  min-height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  object-fit: contain;
  position: absolute;
  top: 50%;
  right: calc(-40px - 26px);


}
