.stok__btn-right {
  background-image: url(../../../image/stok__btn-right.svg);
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  right: calc(-40px - 26px);


}

@media screen and (max-width: 767px) {
  .stok__btn-right {
    top: calc(100% + 20px);
    right: 22px;
  }
}

@media screen and (min-width: 2000px) {
  .stok__btn-right {
    width: 80px;
    height: 80px;
    right: calc(-80px - 52px);

  }
}
