.subscription__card {
  width: 499px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media screen and (max-width: 767px) {
  .subscription__card {
    width: calc(100% - 32px);
    justify-content: center;
    gap: 20px;
  }
}

@media screen and (min-width: 2000px) {
  .subscription__card {
    width: 998px;
    gap: 60px;
  }
}
