.main-slider__pagination {
  position: absolute;
  z-index: 12;
  right: 59px;
  bottom: 63px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 17px;
}

@media screen and (max-width: 767px) {
  .main-slider__pagination {
    flex-direction: row;
    bottom: 26px;
    right: 40%;
  }
}
