.reviews-slider__slide {
  width: 290px;
  flex-shrink: 0;
}

.reviews-slider__slide:first-of-type {
  width: 395px;
}

@media screen and (min-width: 2000px) {
  .reviews-slider__slide {
    width: 580px;
  }

  .reviews-slider__slide:first-of-type{
    width: 790px;
  }
}
