.bestiary__list {
  margin: 120px 0 0;
  padding: 0;
  list-style: none;
  gap: 60px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .bestiary__list {
    margin: 40px auto 0;
    gap: 30px 16px;
  }
}

@media screen and (min-width: 2000px) {
  .bestiary__list {
    margin: 240px 0 0;
    gap: 120px 48px;
  }
}
