.show-off-form__section-btn-sub {
  display: flex;
  gap: 17px;
  width: 100%;
  margin-top: 30px;
}

.show-off-form__section-btn-sub>p {
  color: #000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  vertical-align: middle;
}

@media screen and (max-width: 767px) {
  .show-off-form__section-btn-sub {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 42px;

  }

  .show-off-form__section-btn-sub>p {
    width: 343px;

  }
}

@media screen and (min-width: 2000px) {
  .show-off-form__section-btn-sub {
    gap: 34px;
    margin-top: 60px;
  }

  .show-off-form__section-btn-sub>p {
    font-size: 28px;
  }
}
