.reviews-slider__bullet {
  background-image: url(../../../image/bullet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet {
  background-image: url(../../../image/bullet.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}

.swiper-pagination-bullet-active {
  background-image: url(../../../../image/bullet-active.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}
