.reviews-slider {
  width: calc(100% - 48px);
  min-height: 678px;
  margin: 120px auto 0;
  position: relative;
  overflow: hidden;
}

.reviews-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 2px solid #0062BD;
  opacity: 1;
  box-sizing: border-box;

}

.reviews-slider .swiper-pagination-bullet-active {
  box-sizing: border-box;
  background-color: #0062BD;
  width: 16px;
  height: 16px;
}

@media screen and (max-width: 425px) {
  .reviews-slider {
    width: calc(100% - 16px);
    margin: 46px 0 0 16px;
    min-height: 468px;
    padding-bottom: 80px;
  }
}

@media screen and (min-width: 2000px) {
  .reviews-slider {
    width: calc(100% - 96px);
    min-height: 1356px;
    margin: 240px auto 0;
  }

  .reviews-slider .swiper-pagination-bullet {
    width: 40px;
    height: 40px;
    border: 4px solid #0062BD;
  }

  .reviews-slider .swiper-pagination-bullet-active {
    width: 32px;
    height: 32px;
  }
}
