.footer__info-conf {
  color: #ffffff;
  text-align: left;
  font: 600 14px "Montserrat", sans-serif;
  margin: 0;
}

@media screen and (min-width: 2000px) {
  .footer__info-conf {
    font: 600 28px "Montserrat", sans-serif;
  }
}
