.section-header__text {
  color: #0062BD;
  font-size: 40px;
  font-family: 'Unbounded', sans-serif;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin: 0;
  text-align: left;
}

@media screen and (max-width: 767px) {
  .section-header__text {
    font-size: 24px;
  }
}

@media screen and (min-width: 2000px) {
  .section-header__text {
    font-size: 80px;
  }
}
