.blue-dot-price {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

@media screen and (max-width: 767px) {
  .blue-dot-price {
    width: 260px;
    height: 246px;
    object-fit: contain;
    object-position: center;
    bottom: -57px;
    right: -120px;
    z-index: -5;
  }
}

@media screen and (min-width: 2000px) {
  .blue-dot-price {
    width: 1014px;
    height: 962px;
    object-fit: contain;
    object-position: center;
    bottom: 0;
    right: -260px;
  }
}
