.footer {
  width: calc(100% - 48px);
  margin: 70px auto 0;
  padding: 0 0 55px 0;
  border-radius: 50px 50px 0px 0px;
  background: linear-gradient(180deg, #0062BD 0%, #0E4D8E 100%);
  display: flex;
  position: relative;
}

@media screen and (max-width: 800px) {
  .footer{
    width: calc(100% - 32px);
    margin: 30px auto 0;
    height: 368px;
    padding: 0;
  }
}

@media screen and (min-width: 2000px) {
  .footer {
    width: calc(100% - 96px);
    margin: 140px auto 0;
    padding: 0 0 110px 0;
    border-radius: 100px 100px 0px 0px;
  }
}
