.rules__cards {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 30px 24px;
  grid-template-columns: repeat(2, 290px);
  align-self: center;
}

@media screen and (max-width: 767px) {
  .rules__cards {
    display: flex;
    flex-direction: column;
  }
}
