.terrain-section__info {
  width: 343px;
}

@media screen and (max-width: 1080px){
  .terrain-section__info {
    display: flex;
    flex-flow: wrap;
  }
}

@media screen and (min-width: 2000px) {
  .terrain-section__info {
    width: 686px;
  }
}
