.stok__header {
  color: #ffffff;
  text-align: left;
  font: 500 36px "Unbounded", sans-serif;
  text-transform: uppercase;
  margin: 45px 0 19px 53px;
}

@media screen and (max-width: 1023px){
  .stok__header {
    font: 500 28px "Unbounded", sans-serif;
    margin: 29px 0 20px 22.5px;
  }
}

@media screen and (min-width: 2000px) {
  .stok__header {
    font: 500 72px "Unbounded", sans-serif;
    margin: 90px 0 38px 106px;
  }
}
