.orange-dot-subscription {
  position: absolute;
  width: 404px;
  height: 375px;
  object-fit: contain;
  top: 0;
  left: -55px;
  z-index: -1;
}

@media screen and (max-width: 768px) {
  .orange-dot-subscription {
    width:  235px;
    height: 217px;
    top: -20px;
    left: -158px;
  }
}

@media screen and (min-width: 2000px) {
  .orange-dot-subscription {
    width: 808px;
    height: 750px;
    left: -110px;
  }
}
